einops==0.6.1
fastapi==0.99.0
matplotlib==3.7.1
numpy==1.24.3
opencv_python==4.7.0.72
pandas==2.0.2
Pillow==9.5.0
pydantic==2.0
pymongo==3.10.1
PyYAML==6.0
Requests==2.31.0
setuptools==67.8.0
scikit-image==0.21.0
starlette==0.28.0
submitit==1.4.5
tensorflow==2.12.0
tensorflow_intel==2.12.0
timm==0.6.13
torch==2.0.0
torchinfo==1.8.0
torchvision~=0.15.1
tqdm==4.65.0
uvicorn==0.22.0
wandb==0.15.4
